footer {
    margin: 40px 0;
    padding: 20px 0;
    border-top: 1px solid;
}

.post_footer {
    margin: 40px
}

.img-center {
    margin: 0 auto;
    height: 200px;
}

dl.hipchat {
    border: 1px solid #E1E1E1;
}

dl.hipchat dt {
    background: #EEE;
    text-shadow: #FFF 1px 1px;
    border-right: 1px solid #E1E1E1;
    padding: 10px;
}

dl.hipchat dd {
    border-bottom: 1px solid #E1E1E1;
    padding: 10px;
}