---
layout: default
title: À Propos
order: 15
---

<!-- Introduction Row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">À propos
            <small>de nous</small>
        </h1>
        <p>
            <blockquote>Il existe 10 catégories de personnes: les développeurs et les autres...</blockquote>
        </p>
        <p>
            Pour en savoir plus sur {{site.wizacha}} et son équipe, rendez-vous sur <a href="https://wizacha.com/qui-sommes-nous.html">notre site</a>.
        </p>
    </div>
</div>

<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">La Dev-Team</h2>
    </div>
    {% for member in site.data.team %}
    <div class="col-lg-4 col-sm-6 text-center" id="{{member[0]}}">
        <img class="img-circle img-responsive img-center" src="{{member[1].avatar}}" alt="{{member[1].name_full}}">
        <h3>{{member[1].name_full}}
            <small>{{ member[1].job}}</small>
        </h3>
        <dl class="dl-horizontal">
            <dt>Spécialité</dt>
            <dd class="text-left">{{member[1].skill}}</dd>

            <dt>Citation</dt>
            <dd class="text-left"><q>{{member[1].quote}}</q></dd>
        </dl>
        {% if member[1].twitter %}
        <p>
            <a href="https://twitter.com/{{member[1].twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Suivre {{@member[1].twitter}}</a>
        </p>
        {% endif %}
    </div>
    {% endfor %}

</div>
