{% for i in (1..20) %}
    {% for _page in site.pages %}
        {% if _page.order == i %}
            <li class="{% if _page.path == page.path or _page.path == page.nav_path %}active{% endif %}">
                <a href="{{ _page.url }}">
                    {% if _page.short_title %}
                        {{ _page.short_title }}
                    {% else %}
                        {{ _page.title }}
                    {% endif %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endfor %}