---
layout: default
nav_path: blog/index.html
---
<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{ page.title }}</h1>

        <!-- Author -->
        {% assign author = site.data.team[page.author] %}
        <p class="lead">
            par <a href="/about.html#{{page.author}}">{{author.name_short}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        {% assign post_date = page.date | date_to_long_string %}
        <p>
            <span class="glyphicon glyphicon-time"></span>{% include date_fr.html date=post_date %}
            {% for tag in page.tags %}
                <span class="label label-default">{{ tag }}</span>
            {% endfor %}
        </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" src="/images/{{page.banner}}" alt="{{page.title}}">

        <hr>

        <!-- Post Content -->
        {{ content }}
        <hr>
        <div class="row">
            <div class="col-md-6">
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
            </div>
            <div class="col-md-6">
                <p class="small text-right">
                    <a href="{{site.github_blog_url}}{{ page.path }}">Une correction à apporter?</a>
                </p>
            </div>
        </div>

        <!-- Pager -->
        <div class="post_footer">
            <ul class="pager">
                {% if page.previous %}
                <li>
                    <a href="{{ page.previous.url }}"><span class="glyphicon glyphicon-step-backward"></span> {{ page.previous.title }}</a>
                </li>
                {% endif %}
                <li><a href="/blog/">Index</a></li>
                {% if page.next %}
                <li>
                    <a href="{{ page.next.url }}">{{ page.next.title }} <span class="glyphicon glyphicon-step-forward"></span></a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>